<center>

	<h1>TodoList</h1>

	<h2>Add Task</h2>

	<ul>
		<% @task_list.each do |task| %>
			<%if task.completed? %>
				<li><%=task.content%> <p>Completed!<p></li>
			<% else %>
				<li><%=task.content%></li><a href = "/complete_task/<%= task.id%>">Complete Task</a>
			<% end %>
		<% end %>
	</ul>

	<a href = "/new_task">Click here to create a new task!</a>

</center>