<h1>Auction</h1>

<h2>List of Products:</h2>
<ul>
	<% @products_array.each do |the_product| %>
		<li>
			<a href = "/users/<%= the_product.user_id %>/products/<%= the_product.id %>"><%= the_product.title%></a>
		</li>
	<% end %>
</ul>

<a href="/users/<%= @user.id %>/products/new">Add a new product</a>