<h1>Word Central</h1>

<h2>Placeholder Quotes</h2>

<% if @choice == "paragraph" %>
	<% @para_arr.each do |para|%>
		<p><%= para %></p>
		</br>
	<% end %>
<% elsif @choice == "word" %>
	<p><%= @words %></p>
<% end %>

<p>To return home, <a href="/">click here</a>.</p>