<h1>Contacts</h1>

<ul>
 	<% @contacts_array.each do |contact| %>
  		<li>
  			Name: <%= contact.name%>, 
  			Address: <%= contact.address%>, 
  			Phone Number: <%= contact.number%>, 
  			E-mail Address: <%= contact.email%>

  		</li>
  	<% end %>
</ul> 

<p>To create a new contact, <a href="/contacts/new">click here</a>.</p>