<h1>Contacts</h1>

<h3>Names:</h3>
<ul>
 	<% @contacts_array.each do |contact| %>
  		<li>
  			<a href= "/contacts/<%= contact.id %>/show"><%= contact.name%></a>
  		</li>
  	<% end %>
</ul> 

<p>To create a new contact, <a href="/contacts/new">click here</a>.</p>