<h1>Contacts</h1>

<h2><%= @contact.name%></h2>

<strong>Address:</strong> <%= @contact.address%><br><br>

<strong>Phone Number:</strong> <%= @contact.number%><br><br>

<strong>E-mail Address:</strong> <%= @contact.email%><br><br>

<p>To return to home page, <a href="/">click here</a>.</p>