
<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<p>For text inspection, <a href="/text_inspections/new"> click here</a>.</p>
<p> For ascii text, <a href="/asciis/new"> click here</a>.</p>