<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span>Feraligtr</span>
          <small>#160</small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
          <dl class="dl-horizontal">

            <div class="col-sm-3">
              <dt>Height</dt>
              <dd class ="js-height">23</dd>

              <dt>Weight</dt>
              <dd class="js-weight">888</dd>

              <dt>Attack</dt>
              <dd class="js-attack">888</dd>

              <dt>Defense</dt>
              <dd class="js-defense">888</dd>

              <dt>Hit Points</dt>
              <dd class="js-hp">888</dd>

              <dt>Speed</dt>
              <dd class="js-speed">22</dd>

              <dt>Special Attack</dt>
              <dd class="js-atk">888</dd>
              
              <dt>Special Defense</dt>
              <dd class="js-def">888</dd>

              <dt>Type</dt>
              <dd class="js-type">00</dd>

            </div>
            <div style="padding-left: 50px">
              <dd class="js-spriteimg"></dd>
            </div>

            <div style="padding-left: 15px">
              <dt>Description</dt>
              <dd class="js-descrip"></dd>
            </div>
            <button type="button" class="btn btn-primary see-evo">See Evolutions</button>
          </dl>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->

<div class="modal fade js-evolution-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Evolution</h4>
            </div>
            <div class="modal-body body_track">
                <div class="col-sm-3">
                   <dt class="non-evo" style="padding-left: 40px"></dt>
                   <dd class="js-spriteimg"></dd>
                </div>
                <div class="col-sm-2" style="padding-left: 50px">
                   <p> &#8594</p>
                </div>
                <div class="col-sm-3" style="padding-left: 70px">
                   <dt class="evo"></dt>
                   <dd class="js-spriteimg-evo"></dd>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default evo-button" data-dismiss="modal">Back</button>
        
            </div>
        </div>
    </div>
</div>
