<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span>Feraligtr</span>
          <small>#160</small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Height</dt>
          <dd class ="js-height">23</dd>

          <dt>Weight</dt>
          <dd class="js-weight">888</dd>

          <dt>Attack</dt>
          <dd class="js-attack">888</dd>

          <dt>Defense</dt>
          <dd class="js-defense">888</dd>

          <dt>Hit Points</dt>
          <dd class="js-hp">888</dd>

          <dt>Speed</dt>
          <dd class="js-speed">22</dd>

          <dt>Special Attack</dt>
          <dd class="js-atk">888</dd>
          
          <dt>Special Defense</dt>
          <dd class="js-def">888</dd>

          <dt>Type</dt>
          <dd class="js-type">00</dd>

        </dl>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
