<h1>
	About
</h1> 

<p>
	Hello! My name is Christie and I am an IronHack student.
</p>

<% if Date.today.tuesday? %>
	<p>
		Izzy Ironside is <strong>NOT</strong>
		a fan of Tuesdays like today. 
	</p>
<% end %>

<p>
	IzzyIronside was born on
	<%= Date.today %>.
</p>
